[submodule "chefbook-android"]
	path = chefbook-android
	url = https://mephistolie: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@github.com/mephistolie/chefbook-android
[submodule "chefbook-graphics"]
	path = chefbook-graphics
	url = https://github.com/mephistolie/chefbook-graphics
[submodule "chefbook-frontend"]
	path = chefbook-frontend
	url = https://github.com/mephistolie/chefbook-frontend.git
[submodule "chefbook-backend"]
	path = chefbook-backend
	url = https://github.com/mephistolie/chefbook-backend.git
