[submodule "chefbook-graphics"]
	path = chefbook-graphics
	url = https://github.com/mephistolie/chefbook-graphics
[submodule "chefbook-frontend"]
	path = chefbook-frontend
	url = https://github.com/mephistolie/chefbook-frontend.git
[submodule "chefbook-backend"]
	path = chefbook-backend
	url = https://github.com/mephistolie/chefbook-backend.git
[submodule "chefbook-mobile"]
	path = chefbook-mobile
	url = https://github.com/mephistolie/chefbook-mobile
